<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>

<form  action='register' method="post" >
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="Enter Username"><br>

    <label>First Name</label>
    <input type="text" name="firstname" placeholder="Enter First Name"><br>

    <label>Last Name</label>
    <input type="text" name="lastname" placeholder="Enter Last Name"><br>


    <label>Email</label>
    <input type="email" name="email" placeholder="Enter Email"><br>

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter Password"><br>

    <label>Re-Enter Password</label>
    <input type="password" name="password1" placeholder="Re-Enter Password"><br>

    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{ msg }}</h2>

{% endfor %}

</body>
</html>